<style type="text/css">
	body {
		background-image: url("<%= ActionController::Base.helpers.image_url("image4.jpg")%>");
	}
	#background-new-post {
		background-color: whitesmoke;
	}
</style>
<div id="background-new-post" class="container pb-4 mb-4">
	<h1 class="text-center text-danger" ><u>New Post</u></h1>
	
		<%= render 'form', post: @post %>
	

	<%#= link_to 'Back', posts_path %>
</div>
